body {
  margin: 0 auto;
  text-align: center;
}

.todo-list-container {
  margin: 0 auto;
  width: 220px;
}

.todo-list {
  text-align: left;
  list-style-type: square;
  font-size: 16px;
}

.remove-todo {
  padding-left: 5px;
}

.todo-item, .todo-item-preview {
  padding: 5px 0;
}

.todo-item a {
  text-decoration: none;
  color: inherit;
}

.todo-item-preview {
  color: gray;
  display: none;
}

a:hover {
  color: #B33E3E;
}
