body {
  margin: 0 auto;
  text-align: center;
}

.todo-list-container {
  margin: 0 auto;
  width: 220px;
}

.todo-list {
  text-align: left;
  list-style-type: square;
  font-size: 16px;
}

.remove-todo {
  padding-left: 5px;
}

.todo-item {
  padding: 5px 0;
}
